{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block title %} Смена пароля {% endblock %}
{% block menu %}
    <a href="{% url 'profile' user_obj.pk %}">Назад</a>
    {% if user.is_authenticated %}
        <span>Ваш логин: {{ user.username }}</span>
    {% else %}
        <span>Вы не зарегистрированы!</span>
{% endif %}

{% endblock %}

{% block content %}
    <h3> Поменять пароль пользователя {{user_obj.username}}</h3>

    <form action="{% url 'change_password' user_obj.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Сохранить" class="btn btn-primary">
        <a href="{% url 'profile' user_obj.pk %}" class="btn btn-primary">Отменить</a>
    </form>

{% endblock %}